/* VARIABLES */
:root{
    --happy-color: #007bff;
    --down-color: #5a6268;
    --inspired-color: #138496;
    --curious-color:#ffc107;
}
/* FONT SETTINGS */
.title-font{
    font-family: 'Poppins', sans-serif;
    font-family: 'Share Tech Mono', monospace;
    color: white;
}
.mid-font{
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: white;
}
/* GENERAL SETTING */
body{
    padding: 1pc;
    background-color: #131516;
}
.image-default-set{
    height: 325px;
}

.jkshkil{
    display: flex;
    align-items: center;
}
.image-set{
    border-radius: 5%;
    height: 100%;
    width: 90%;
    opacity: 0.5;
}
.grid-set{
    display: grid;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
    /* height: 25pc; */
}
.grid-set-inner{
    display: grid;
    grid-template-rows: 50% 50%;
}
.quote-set{
    font-family: 'Poppins', sans-serif;
    font-family: 'Share Tech Mono', monospace;
    max-height: 100%;
    text-align: center;
    margin: 0;
    overflow: auto;
    color: white;
}
.btn{
    margin: 0 35%;
}
.backdrop-filter{
    width: 35%;
    backdrop-filter: blur(15px);
    position: relative;
    bottom: 5pc;
    height: 22%;
    margin: 0;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgb(50, 45, 45); 
    border-radius: 10px;
}
/* NAV SETTINGS */
.header{
    display: flex;
}
.header ul{
    display: flex;
}
.header li{
    margin-left: 4pc;
    list-style: none;
}
.header button{
    border-radius: 5pc;
    padding: 5px;
    color: white;
}

/* EMOTION BUTTON SETTINGS */
.happy-btn{
    background-color: var(--happy-color);
    border-color: var(--happy-color);
}
.down-btn{
    background-color: var(--down-color);
    border-color: var(--down-color);
}
.inspired-btn{
    background-color: var(--inspired-color);
    border-color: var(--inspired-color);
}
.curious-btn{
    background-color: var(--curious-color);
    border-color: var(--curious-color);
}

/* QUOTE OF THE DAY SETTINGS */
.q-o-d{
    font-size: initial;
}

/* SECTION SETTING */
section{
    margin: 5pc;
}
/* SELECTORS */
h3{
    text-align: center;
}

/* FOOTER */ 
footer{
    margin: 3pc;
}
footer p{
    text-align: center;
}
.sig::after{
    content: " 🤖";
}
